<div class="ui stackable two column grid" style="margin-top: 1%; margin-left: 15%;">
    <div class="column ten wide">
      <div class="ui padded top attached center aligned segment">
        ENROLLMENT
      </div>
        <div class="ui two column grid attached centered segment" *ngIf="successfulEnrollment">
          <div class="ui icon success message">
            <i class="checkmark icon"></i>
            <div class="content">
              <div class="header">
                <h2>Congratulation!</h2>
              </div>
              <div class="ui hidden divider"></div>
              <br />
              <div>
                <h3>You have successfully enrolled <b>{{enrolee.firstName}} {{enrolee.middleName}} {{enrolee.lastName}}</b></h3>
              </div>
              <div>
                <h1>FORM ID: <b>{{enrolee.generatedFormId}}</b></h1>
              </div>
              <div class="ui divider"></div>
              <button class="ui labeled icon large fluid button" (click)="goBack()">
                <i class="left arrow icon"></i>
                Back to Form
              </button>
            </div>
          </div>
        </div>
        <div class="ui two column padded grid attached segment" *ngIf="!successfulEnrollment">
            <div class="ui red message" *ngIf="formError">{{formError}}</div>
            <form class="ui padded equal width form row" [formGroup]="registrationForm" id="registrationForm">
                <div class="column">
                    <div class="field" [class.error]="registrationForm.controls['employee-id'].invalid &&
                         (registrationForm.controls['employee-id'].dirty ||
                         registrationForm.controls['employee-id'].touched)">
                         <label>Employee ID</label>
                         <input type="text" placeholder="Employee Id"  formControlName="employee-id">
                    </div>
                    <div class="field" [class.error]="registrationForm.controls['surname'].invalid &&
                         (registrationForm.controls['surname'].dirty ||
                         registrationForm.controls['surname'].touched)">
                         <label>Surname</label>
                         <input type="text" placeholder="Surname" formControlName="surname">
                    </div>
                    <div class="field" [class.error]="registrationForm.controls['first-name'].invalid &&
                         (registrationForm.controls['first-name'].dirty ||
                         registrationForm.controls['first-name'].touched)">
                         <label>First Name</label>
                         <input type="text" placeholder="First Name" formControlName="first-name">
                    </div>
                    <div class="field" [class.error]="registrationForm.controls['middle-name'].invalid &&
                         (registrationForm.controls['middle-name'].dirty ||
                         registrationForm.controls['middle-name'].touched)">
                         <label>Middle Name</label>
                         <input type="text" placeholder="Middle Name" formControlName="middle-name">
                    </div>
                    <div class="field" [class.error]="registrationForm.controls['dob'].invalid &&
                         (registrationForm.controls['dob'].dirty ||
                         registrationForm.controls['dob'].touched)">
                         <label>Date of Birth</label>
                         <input type="date" placeholder="Date of Birth" formControlName="dob">
                    </div>
                    <div class="field" [class.error]="registrationForm.controls['person-type'].invalid &&
                         (registrationForm.controls['person-type'].dirty ||
                         registrationForm.controls['person-type'].touched)">
                         <label>Person Type</label>
                         <select formControlName="person-type" class="ui dropdown">
                            <option value="">Select person type</option>
                            <option *ngFor="let personType of personTypes" [value]="personType.personTypeId">{{personType.description}}</option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <div class="field" [class.error]="registrationForm.controls['staff-type'].invalid &&
                         (registrationForm.controls['staff-type'].dirty ||
                         registrationForm.controls['staff-type'].touched)">
                         <label>Staff Type</label>
                         <select formControlName="staff-type" class="ui dropdown">
                            <option value="">Select staff type</option>
                            <option *ngFor="let staffType of staffTypes" [value]="staffType.staffTypeId">{{staffType.description}}</option>
                        </select>
                    </div>
                    <div class="field" [class.error]="registrationForm.controls['mda'].invalid &&
                         (registrationForm.controls['mda'].dirty ||
                         registrationForm.controls['mda'].touched)">
                         <label>MDA</label>
                         <select formControlName="mda" class="ui dropdown">
                            <option value="">Select MDA</option>
                            <option *ngFor="let mda of mdas" [value]="mda.mdaId">{{mda.description}}</option>
                        </select>
                    </div>
                    <div class="field" [class.error]="registrationForm.controls['doe'].invalid &&
                         (registrationForm.controls['doe'].dirty ||
                         registrationForm.controls['doe'].touched)">
                         <label>Date of Employment</label>
                         <input type="date" placeholder="Date of Employment"
                           formControlName="doe">
                    </div>
                    <div class="field" [class.error]="registrationForm.controls['salary-structure'].invalid &&
                         (registrationForm.controls['salary-structure'].dirty ||
                         registrationForm.controls['salary-structure'].touched)">
                         <label>Salary Structure</label>
                         <select formControlName="salary-structure" class="ui dropdown">
                            <option value="">Select Salary Structure</option>
                            <option *ngFor="let salaryStructure of salaryStructures" [value]="salaryStructure.salaryStructureId">{{salaryStructure.description}}</option>
                        </select>
                    </div>
                    <div class="field" [class.error]="registrationForm.controls['grade-level'].invalid &&
                         (registrationForm.controls['grade-level'].dirty ||
                         registrationForm.controls['grade-level'].touched)">
                         <label>Grade Level</label>
                         <select formControlName="grade-level" class="ui dropdown">
                            <option value="">Select Grade Level</option>
                            <option *ngFor="let gradeLevel of gradeLevels" [value]="gradeLevel.glId">{{gradeLevel.description}}</option>
                        </select>
                    </div>
                    <div class="field" [class.error]="registrationForm.controls['step'].invalid &&
                         (registrationForm.controls['step'].dirty ||
                         registrationForm.controls['step'].touched)">
                         <label>Step</label>
                         <select formControlName="step" class="ui dropdown">
                            <option value="">Select Step</option>
                            <option *ngFor="let step of steps" [value]="step.stepId">{{step.description}}</option>
                         </select>
                    </div>
                    <div class="field ui right aligned">
                        <button class="ui red button" type="submit" (click)="enrolEmployee()">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
