<div class="ui one column stackable center aligned page grid">
   <div class="column eight wide">
       <div class="ui segment" style="margin-top:40%">
         <img src="assets/images/EDSG22.png" />
            <h1>Pre-Enrollment Application</h1>
            <div class="ui red message" *ngIf="formError">{{formError}}</div>
            <form class="ui large padded form" [formGroup]="loginForm" novalidate>
                <div class="field"
                    [class.error]="loginForm.controls['username'].invalid &&
                                    (loginForm.controls['username'].dirty ||
                                      loginForm.controls['username'].touched)">
                  <input type="text" placeholder="Username"
                    formControlName="username">
                </div>
                <div class="field"
                    [class.error]="loginForm.controls['password'].invalid &&
                                    (loginForm.controls['password'].dirty ||
                                      loginForm.controls['password'].touched)">
                  <input type="password" placeholder="Password"
                            formControlName="password">
                </div>
                <div class="field">
                   <button class="ui red button" (click)="loginUser()">Login</button>
                </div>
            </form>
          </div>
       </div>
</div>
