/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  background: url("assets/images/forms.png") no-repeat center center fixed !important;
}

.main-content {
  flex: 1;
}

.ui.left.sidebar {
  background-color: #FF8080 !important;
}

.ui.left.sidebar a.item i.icon {
    font-size: 20px !important;
    margin-bottom: 10px !important;
}

.menu-logo {
  margin: auto 0;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 15px;
  border-bottom: 0.01em solid #c36767;
}

.clearfix {
  clear: both;
}

.twenty {
  height: 20px
}
