<div class="ui stackable two column grid" style="margin-top: 10%; margin-left: 25%;">
  <div class="column six wide">
    <div class="ui padded top attached center aligned segment">
      CHANGE PASSWORD
    </div>
    <div class="ui attached padded segment">
      <div class="ui red message" *ngIf="formError">{{formError}}</div>
      <div class="ui green message" *ngIf="formSuccess">{{formSuccess}}</div>
      <form class="ui lard form" [formGroup]="changePasswordForm">
        <div class="field" [class.error]="changePasswordForm.controls['old-password'].invalid &&
                               (changePasswordForm.controls['old-password'].dirty ||
                                 changePasswordForm.controls['old-password'].touched)">
             <input type="password" placeholder="Old Password"  formControlName="old-password">
           </div>
           <div class="field" [class.error]="changePasswordForm.controls['new-password'].invalid &&
                               (changePasswordForm.controls['new-password'].dirty ||
                                 changePasswordForm.controls['new-password'].touched)">
             <input type="password" placeholder="New Password" formControlName="new-password">
           </div>
           <div class="field" [class.error]="changePasswordForm.controls['confirm-new-password'].invalid &&
                               (changePasswordForm.controls['confirm-new-password'].dirty ||
                                 changePasswordForm.controls['confirm-new-password'].touched)">
             <input type="password" placeholder="Confirm Password" formControlName="confirm-new-password">
           </div>
           <div class="ui red message"
             *ngIf="changePasswordForm.controls['confirm-new-password'].errors?.MatchPassword">Password do not match</div>
           <div class="field ui right aligned">
             <button class="ui red button" (click)="changePassword()">Change</button>
           </div>
       </form>
    </div>
  </div>
</div>
