<div class="ui visible thin left vertical sidebar icon menu">
    <div class="menu-logo">
      <img src="assets/images/EDSG22.png" />
    </div>
    <a class="item" routerLink="/register" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <i class="edit icon"></i>
      Enrollment
    </a>
    <a class="item" routerLink="/change-password" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <i class="user circle icon"></i>
      Change Password
    </a>
</div>

<!-- Top Fixed Menu -->
<div class="ui menu" style="margin-top: 0">
  <div class="right menu">
    <a class="item"> Hello {{user.firstName}}  </a>
    <a class="item">
      <button class="ui red button" type="submit" (click)="logout()" >Log out</button>
    </a>
  </div>
</div>

<div class="pusher">
    <!-- Page Content Here-->
    <router-outlet></router-outlet>
</div>
