<!--<app-login></app-login>-->
<div class="ui left demo vertical inverted sidebar labeled icon menu">
  <a class="item">
    <i class="home icon"></i>
    Pre Enrollment Data
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Change Password
  </a>  
</div>
<router-outlet></router-outlet>